{% extends "base.html" %} {% block title %}Add New Invoice{% endblock %} {%
block main %}
<div class="container mt-5">
  <h2>Add Invoice</h2>
  <form action="" method="POST">
    <div class="mb-3">
      <label for="booker" class="form-label">Booker</label>
      <select class="form-select" id="booker" name="booker" required>
        {% for emp in employee %}
        {% if emp["role"] == "Booker" %}
            <option value="{{ emp['employee_id'] }}">{{ emp['name'] }}</option>
        {% endif %}
    {% endfor %}
    
      </select>
    </div>
    <div class="mb-3">
      <label for="dsr" class="form-label">DSR</label>
      <input type="text" class="form-control" id="dsr" name="dsr" required>
    </div>  
    <div class="mb-3">
      <label for="customer" class="form-label">Customer</label>
      <select class="form-select" id="customer" name="customer" required>
        {% for cust in customer %}
        <option value="{{ cust["customer_id"] }}">{{ cust["business_name"] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="value" class="form-label">Value</label>
      <input type="number" step="0.01" class="form-control" id="value" name="value" required>
    </div>
    <div class="mb-3">
      <label for="company" class="form-label">Company</label>
      <select class="form-select" id="company" name="company" required>
        <option value="CP">CP</option>
        <option value="RB">RB</option>
        <option value="JR">JR</option>
        <option value="GP">GP</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="delivery_man" class="form-label">Delivery Man</label>
      <select class="form-select" id="delivery_man" name="delivery_man" required>
        {% for emp in employee %}
        {% if emp["role"] == "Delivery Man" %}
            <option value="{{ emp['employee_id'] }}">{{ emp['name'] }}</option>
        {% endif %}
    {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Invoice</button>
  </form>
</div>
{% endblock %}
