{% extends "base.html" %} {% block link %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/css/table.css') }}"
/>
{% endblock %} {% block title %}Invoices{% endblock %} {% block main %}
<div class="container-fluid m-t70">
  <div class="row">
    <div class="col-md-12">
      <br />
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"></h3>
          <button type="button" class="btn btn-primary float-end">
            <a href="/invoice/add" style="color: inherit; text-decoration: none"
              >Add Invoice</a
            >
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered mb-0 table-centered">
              <thead class="tHead">
                <tr>
                  <th>Invoice ID</th>
                  <th>Customer ID</th>
                  <th>Invoice Amount</th>
                  <th>Payment Status</th>
                  <th>Delivery Status</th>
                  <th>updated_at</th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for user in data %}
                <tr>
                  <td>{{ user['invoice_id'] }}</td>
                  <td>{{ user['customer_id'] }}</td>
                  <td>{{ user['invoice_amount'] }}</td>
                  <td>{{ user['payment_status'] }}</td>
                  <td>{{ user['delivery_status'] }}</td>
                  <td>{{ user['updated_at'] }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-primary" type="button">
                      View
                    </button>
                    <button class="btn btn-outline-success" type="button">
                      Edit
                    </button>
                    <button class="btn btn-outline-danger" type="button">
                      Delete
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
