{% extends "base.html" %} {% block link %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/css/table.css') }}"
/>
{% endblock %} {% block title %}Invoices{% endblock %} {% block main %}

<div class="container-fluid m-t70">
  <div class="row">
    <div class="col-md-12">
      <br />
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"></h3>
          <button type="button" class="btn btn-primary float-end">
            <a href="/invoice/add" style="color: inherit; text-decoration: none"
              >Add Invoice</a
            >
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered mb-0 table-centered">
              <thead class="tHead">
                <tr>
                  <th><input type="checkbox" name="" id="select-all"></th>
                  <th scope="col">Sr.</th>
                  <th scope="col">Date</th>
                  <th scope="col">Booker</th>
                  <th scope="col">DSR</th>
                  <th scope="col">Bill ID</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Value</th>
                  <th scope="col">Company</th>
                  <th scope="col">Revision</th>
                  <th scope="col">Age</th>
                  <th scope="col">Delivery Status</th>
                  <th scope="col">Delivery Man</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for user in data %}
                <tr>
                  <td><input type="checkbox" name="" class="select-item"></td>
                  <td>{{ loop.index }}</td>
                  <td>{{ user['created_at'] }}</td> <!-- Assuming there is a 'date' field in user data -->
                  <td>{{ user['booker_name'] }}</td> <!-- Assuming there is a 'booker' field in user data -->
                  <td>{{ user['dsr'] }}</td> <!-- Assuming there is a 'dsr' field in user data -->
                  <td>{{ user['invoice_id'] }}</td> <!-- Assuming there is a 'bill_id' field in user data -->
                  <td>{{ user['customer_name'] }}</td> <!-- Assuming there is a 'customer' field in user data -->
                  <td>{{ user['total'] }}</td> <!-- Assuming there is a 'value' field in user data -->
                  <td>{{ user['company'] }}</td> <!-- Assuming there is a 'company' field in user data -->
                  <td>{{ user['revision'] }}</td> <!-- Assuming there is a 'revision' field in user data -->
                  <td>{{ user['age'] }}</td> <!-- Assuming there is an 'age' field in user data -->
                  <td>{{ user['delivery_status'] }}</td> <!-- Assuming there is a 'delivery_status' field in user data -->
                  <td>{{ user['delivery_man'] }}</td> <!-- Assuming there is a 'delivery_man' field in user data -->
                  <td class="text-center">
                    <a
                      href="/invoice/{{ user['invoice_id'] }}"
                      class="btn btn-outline-primary btn-sm"
                    >
                    <i class="fas fa-eye"></i>
                    </a>
                    <a
                      href="/invoice/edit/{{ user['invoice_id'] }}"
                      class="btn btn-outline-success btn-sm"
                    >
                    <i class="fas fa-edit"></i>
                    </a>
                    <a
                      href="/invoice/delete/{{ user['invoice_id'] }}"
                      class="btn btn-outline-danger btn-sm"
                      onclick="return confirm('Are you sure you want to delete this customer?');"
                    >
                    <i class="fas fa-trash"></i>
                    </a>
                  </td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
      $('#select-all').on('click', function() {
          var isChecked = $(this).prop('checked');
          $('.select-item').prop('checked', isChecked);
      });
  });
</script>
{% endblock %}
