{% extends "base.html" %} {% block title %}Dispatch{% endblock %} {% block main
%}
<form method="POST" action="/dispatch/added">
  <div class="card">
    <div class="card-body">
      <div class="container mb-5 mt-3">
        <div class="row">
          <div class="col-xl-4">
            <ul class="list-unstyled">
              <li class="text-muted m-2">
                <span class="fw-bold">ID:</span># ________
              </li>
              <li class="text-muted m-2">
                <span class="fw-bold">Creation Date: </span>#{{ main["date"] }}
              </li>
              <li class="text-muted m-2">
                <span class="me-1 fw-bold">Delivery Status:</span>Processing
              </li>
            </ul>
          </div>
          <div class="col-xl-8 text-end">
                        <ul class="list-unstyled">
                            <li class="text-muted m-3">Delivery Man: 
                                <select id="delivery_man" name="delivery_man">
                                    {% for man in employee %}
                                    {% if man["role"] == "Delivery Man" %}
                                    <option value="{{ man["employee_id"] }}" >{{ man["name"] }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </li>
                        </ul>
                    </div>
        </div>

        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless">
            <thead style="background-color: #84b0ca" class="text-white">
              <tr>
                <th scope="col">Customer</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for item in data %}
              <tr>
                <td>{{ item["customer_name"]}}</td>
                <td>{{ item["total"] }}</td>
                <input
                  type="hidden"
                  name="invoice_ids[]"
                  value="{{ item['invoice_id'] }}"
                />
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

                <div class="row">

                    <div class="col-xl-3">
                        <p class="text-black float-start"><span class="text-black me-3">Total Amount</span><span style="font-size: 25px;"></span>{{ main['total'] }}</p>
                    </div>
                </div>

        <div class="row mt-3">
          <div class="col-xl-12 text-end">
            <button type="submit" class="btn btn-primary">Save Dispatch</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
