{% extends "base.html" %}

{% block title %}Dispatch{% endblock %}

{% block main %}
<div class="card">
    <div class="card-body">
            <div class="col-xl-3 float-end">
                <a id="printButton" data-mdb-ripple-init class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
                    class="fas fa-print text-primary"></i> Print</a>
            </div>
            <div class="container mb-5 mt-3">
                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-unstyled">
                            <li class="text-muted">Address: {{ data["address"]}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-4">
                        <ul class="list-unstyled">
                            <li class="text-muted m-2"><span class="fw-bold">ID:</span># {{ data["dispatch_id"] }}</li>
                            <li class="text-muted m-2"><span class="fw-bold">Creation Date: </span>#{{ data["date"] }}</li>
                            <li class="text-muted m-2"><span class="me-1 fw-bold">Delivery Status:</span>
                                {{ data["deli_status"]}}
                            </li>
                            <li class="text-muted m-2"><span class="me-1 fw-bold">Payment Status:</span>
                                {{ data["pay_status"] }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless">
                        <thead style="background-color:#84B0CA ;" class="text-white">
                            <tr>
                                <th scope="col">Customer</th>
                                <th scope="col">Total</th>
                                <th scope="col">Paid</th>
                                <th scope="col">Remaining</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invoice in invoices %}
                            <tr>
                                <td>{{ invoice["customer_name"]}}</td>
                                <td>{{ invoice["total"] }}</td>
                                <td>{{ invoice["paid"] }}</td>
                                <td>{{ invoice['remaining'] }}</td>
                                <input type="hidden" name="invoice_ids[]" value="{{ invoice['invoice_id'] }}">
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-unstyled">
                            <li class="text-muted m-3">Delivery Man: {{ data["delivery_man"]}}</li>
                        </ul>
                    </div>
                    <div class="col-xl-3">
                        <p class="text-black float-start"><span class="text-black me-3">Total Amount</span><span style="font-size: 25px;"></span>{{ data['remaining'] }}</p>
                    </div>
                </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('printButton').addEventListener('click', function () {
        window.print();
    });
</script>
{% endblock %}
